.todo-table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.todo-table th,
.todo-table td {
    padding: 10px;
    border: 1px solid #ddd;
    text-align: left;
}

.todo-table th {
    background-color: #3a0ca3;
    color: white;
    font-weight: bold;
}

.todo-table td {
    font-size: 16px;
}

.todo-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.todo-table tr:hover {
    background-color: #f2f2f2;
}

.button-update {
    cursor: pointer;
    background-color: #3a0ca3;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-update:hover {
    background-color: black;
    color: white;
}

.button-save {
    cursor: pointer;
    background-color: #3a0ca3;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-right: 5px;
}

.button-save:hover {
    background-color: black;
    color: white;
}

.button-cancel {
    cursor: pointer;
    background-color: #b7121a;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.button-cancel:hover {
    background-color: black;
    color: white;
}

.delete-btn {
    cursor: pointer;
    background-color: #3a0ca3;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 5px;
}

.add-button {
    cursor: pointer;
    background-color: #3a0ca3;
    color: white;
    border: none;
    padding: 9px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
}

.add-button:hover {
    background-color: black;
    color: white;
}

.delete-btn:hover {
    background-color: black;
    color: white;
}

.input-add {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #3a0ca3;
    border-radius: 4px;
    outline: none;

}

.input-update {
    padding: 8px 12px;
    font-size: 16px;
    border: 1px solid #b7121a;
    border-radius: 4px;
    outline: none;
}

.input-add:focus {
    border-color: #450da9;
}